body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,79,1) 50%, rgba(2,0,36,1) 100%); 
}
h1 {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}
.welcome {
    width: 50%;
    height: 50%;
    background-color: rgb(19, 19, 78);
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid white;
    border-radius: 20px;
}
.welcome p {
    display: flex;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}
a {
    text-decoration: none;
    font-family: sans-serif;
}
.gotomainpage {
    color: white;
    background: rgb(19, 19, 78);
    padding: 30px 70px 30px 70px;
    border: solid white;
    border-radius: 30px;
    font-size: 30px;
    font-weight: bolder;
    transition: color 0.5s, background 0.5s, border 0.5s; 
}
.gotomainpage:hover {
    color: rgb(19, 19, 78);
    background: white;
    border: solid rgb(19, 19, 78);
}
.mainHeader {
    width: 25%;
    padding: 20px 0 20px 0;
    background: rgb(19, 19, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white;
    border-radius: 30px;
    margin-top: 100px;
}
.mainHeader1 {
    width: 25%;
    padding: 20px 0 20px 0;
    background: rgb(19, 19, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white;
    border-radius: 30px;
    margin-top: 60px;
}
.goback {
    color: white;
    background: rgb(19, 19, 78);
    padding: 10px 20px 10px 20px;
    border: solid white;
    border-radius: 15px;
    font-weight: bold;
    transition: color 0.5s, background 0.5s, border 0.5s;
}
.goback:hover {
    color: rgb(19, 19, 78);
    background: white;
    border: solid rgb(19, 19, 78);
}
summary {
    background-color: rgb(19, 19, 78);
    color: white;
    font-family: sans-serif;
    font-size: 34px;
    width: 30%;
    cursor: pointer;
    padding: 10px 0 10px 0;
    border: solid white;
    border-radius: 15px;
    font-weight: bolder;
    transition: color 0.5s, background 0.5s, border 0.5s;
}
summary:hover {
    color: rgb(19, 19, 78);
    background: white;
    border: solid rgb(19, 19, 78);
}
details {
    font-size: 20px;
}
.links {
    color: white;
    background: rgb(19, 19, 78);
    padding: 10px 20px 10px 20px;
    border: solid white;
    border-radius: 15px;
    font-weight: bold;
    transition: color 0.5s, background 0.5s, border 0.5s;
}
.links:hover {
    color: rgb(19, 19, 78);
    background: white;
    border: solid rgb(19, 19, 78);
}
details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}
  
@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
}
.updTime {
    font-family: sans-serif;
    color: rgb(163, 157, 157);
}
.info {
    font-family: sans-serif;
    color: white;
    background: rgb(19, 19, 78);
    padding-top: 8px;
    padding-bottom: 8px;
    width: 30%;
    border: solid white;
    border-radius: 10px;
}
.updates {
    background: rgb(19, 19, 78);
    border: solid white;
    border-radius: 10px;
    width: 40%;
}
.updHeader {
    font-family: sans-serif;
    color: white;
}
.updP {
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}
