/*
COLORS:
    var(--secondary) - CYAN;
    var(--primary) - WHITE
*/

@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

:root {
    --secondary: #5C899D;
    --primary: #FFFCEF;
    --textcover: #d9d8d2;
}
* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    background-color: var(--secondary);
    margin: 10px;
    padding-bottom: 30px;
    padding-top: 20px;
    border-radius: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 100px;
    padding: 0;
    margin: 0;
}
li a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 25px;
    color: var(--primary);
    transition: color 0.3s;
    font-weight: bold;
    font-family: "Racing Sans One", sans-serif;
    font-style: normal;
}
h1 {
    display: flex;
    align-self: center;
}
header h1 {
    margin-left: 15px;
    color: var(--primary);
    font-family: "Contrail One", sans-serif;
    font-weight: bold;
    font-style: normal;
    user-select: none;
}
li a:hover {
    color: var(--textcover);
}
.wlcm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    flex-grow: 1;
}
.wlcm h1 {
    color: var(--secondary);
    font-family: "Contrail One", sans-serif;
    font-weight: bolder;
    font-style: normal;
}
.wlcm p {
    color: var(--secondary);
    font-family: "Racing Sans One", sans-serif;
    font-style: normal;
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}
.mainpage {
    overflow: hidden;
}
.proj {
    background-color: var(--secondary);
    padding: 20px 50px;
    margin-top: 20px;
    text-decoration: none;
    color: var(--primary);
    font-family: "Racing Sans One", sans-serif;
    font-style: normal;
    font-size: 25px;
    border-radius: 15px;
    transition: color 0.3s;
}
.proj:hover {
    color: var(--textcover);
}
.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.links a {
    /*justify-content: center;*/
    margin-top: 10px;
    text-decoration: none;
    color: white;
    
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 1rem;
    background-color: var(--secondary);
    margin: 10px 10px 1rem 10px;
    padding: 15px 0;
    border-radius: 20px;
    font-size: 20px;
}
footer p {
    color: var(--primary);
    font-family: "Racing Sans One", sans-serif;
    font-style: normal;
}